# Ignore plots directory
plots/

# Ignore meshes directory
meshes/

# Ignore specific Python files
control.py
pid.py

# Ignore specific world file
kwad.world

# Ignore CMakeLists.txt (case-insensitive)
CMakeLists.txt
cmakelists.txt

# Ignore image file
Image.png

# Ignore ROS package files
package.xml

# Ignore README file (case-insensitive)
README.md
readme.md

# Ignore RViz config
urdf.rviz

# Ignore ROS launch files
Kwad_gazebo.launch
Kwad_rviz.launch
config/
smc_position_controller.py
smc_iris_controller.py
smc_position_controller.launch
smc_position.launch
obstacles.world
rotors_obstacle_course_world.world

