# Ignore plots directory
plots/

# Ignore logs directory
logs/

# Ignore meshes directory
meshes/

# Ignore specific Python files
control.py
pid.py

# Ignore specific world file
kwad.world

# Ignore CMakeLists.txt (case-insensitive)
cmakelists.txt

# Ignore image file
Image.png

# Ignore ROS package files


# Ignore README file (case-insensitive)
README.md
readme.md

# Ignore RViz config
urdf.rviz

# Ignore ROS launch files
Kwad_gazebo.launch
Kwad_rviz.launch
smc_position_controller.py
smc_iris_controller.py
smc_position_controller.launch
smc_position.launch
obstacles.world
rotors_obstacle_course_world.world
dynamic_obstacle_manager.py
zcbf_and_yaw.launch
zcbf_and_yaw_a.launch
straight_line_plotter.py
zcbf_and_yaw.py
zcbf_and_yaw_a.py

C3BF_filter.pyc
clf_backstepping.pyc
dynamics_utils.pyc
ecbf_forms_filter.pyc
zcbf_filter.pyc
cleanup.py
main_helix2.py
flight_state_manager_opt.py

# Ignore all Python compiled files
*.pyc

# Ignore all PNG files
*.png

# Ignore all log files
*.log


