# Ignore plots directory
plots/

# Ignore meshes directory
meshes/

# Ignore specific Python files
control.py
pid.py

# Ignore specific world file
kwad.world

# Ignore CMakeLists.txt (case-insensitive)
cmakelists.txt

# Ignore image file
Image.png

# Ignore ROS package files


# Ignore README file (case-insensitive)
README.md
readme.md

# Ignore RViz config
urdf.rviz

# Ignore ROS launch files
Kwad_gazebo.launch
Kwad_rviz.launch
config/
smc_position_controller.py
smc_iris_controller.py
smc_position_controller.launch
smc_position.launch
obstacles.world
rotors_obstacle_course_world.world
dynamic_obstacle_manager.py
zcbf_and_yaw.launch
zcbf_and_yaw_a.launch
straight_line_plotter.py
zcbf_and_yaw.py
zcbf_and_yaw_a.py
